[Desktop Entry]
Categories=Office;Viewer;
Encoding=UTF-8
Name=QSopherim
GenericName=Holy Bible reader
Type=Application
Exec=QSopherim
Icon=QSopherim_logo.png

